*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: solid 1px red; */
}

body{
    /* background-color: rgb(130, 190, 240); */
    background: url(img/engin-akyurt-gJILnne_HFg-unsplash.jpg)no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', monospace;
}

.big-container{
    background-color: rgba(255, 255, 255, .5);
    height: 90dvh;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-container{
    font-size: 1.3rem;
    margin-top: 40px;
}

#my-projects{
    text-transform: uppercase;
    margin-top: 30px;
}


.list-container{
    margin-top: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list-element{
    font-size: 1.4rem;
    padding: 20px;
    margin: 5px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(70, 131, 180, 0.5);

    transition: .3s;
    cursor: pointer;

    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.list-element:hover{
    background-color: rgba(90, 151, 200);
}